@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.whole-page {
  display: flex;
  padding: 30px;
  text-align: center;
  background: rgba(49, 49, 49, 0.87);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px #f5f5f533, 0 6px 20px #fdfdfd30;
}

.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribute-buttons {
  margin: 0 5px;
  background-color: #8d6612f0;
  box-shadow: 0 3px #7e4b0d;
}

.banned-buttons {
  margin: 5px 0;
  background-color: #bb6463f0;
  box-shadow: 0 3px #7e4b0d;
}

.discover-btn {
  border-radius: 15px;
  box-shadow: 0 7px #3e3e3e;
}

.discover-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
}

.discover-btn:active {
  background-color: #0b0b0b;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

li {
  list-style: none;
}

.history-sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #d2d2d2b4;
  color: #000;
  overflow-y: auto;
}

.history-container {
  display: flex;
  flex-direction: column;
}

.history-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.history-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

img {
  object-fit: cover;
}

.cat-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.main-content {
  width: 60%;
  padding: 20px;
  text-align: center;
}

.sideNav {
  width: 5%;
  padding: 20px;
  border-left: 1px solid #ccc;
  background-color: #d2d2d2b4;
  color: #000;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.sideNav h3 {
  margin-top: 0;
}

.sideNav ul {
  padding-left: 0;
}

.sideNav li {
  list-style: none;
  margin-bottom: 10px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image: url(/assets/cat-collage.921045c8.jpeg);
  background-size: 50%;
  background-blend-mode: multiply;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}